mixin header
    header
        .header__container
            .container
                .header__top-container
                    .float-left.header__logo Auto116
                    .float-right.header__top-wrapper
                        .header__profile Войти или зарегистрироваться
                        .header__panel
                            .header__search
                                input(placeholder="Искать по товарам..." aria-label="Искать по товарам...")
                                button.icon-s
                            .header__cart
                                span.icon-bracketleft.cart__icon
                                span Корзина
                    .clear-both
                .header__bot-container
                    ul
                        li Акции
                        li Доставка
                        li Каталог
                        li Контакты
