.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.caption .price {
    vertical-align: top;
    font-weight:bold;
    font-size: 16px;
    padding: 5px 10px;
    display: inline-block;
}

.caption a{
    vertical-align: top;
}

.shopping-cart table{
    padding:0 20px;
    border-bottom: 1px solid #ccc;
}

.shopping-cart td, .shopping-cart th{
    padding: 10px;
    text-align: center;
}

.shopping-cart th{
    border-bottom: 1px solid #ccc;
}

.shopping-cart td input{
    text-align: center;
    width:30px;
}

.shopping-cart .table__name{
    text-align: left;
}

.caption h3{
    font-size: 13px;
    font-weight: bold;
}

.product__element{
    padding: 0 5px;
}