.thumbnail .description {
    color: #7f7f7f;
}

.product__caption .price {
    vertical-align: top;
    font-weight:bold;
    font-size: 16px;
    padding: 5px 10px;
    display: inline-block;
}

.product__caption a{
    vertical-align: top;
}

.shopping-cart table{
    padding:0 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.shopping-cart td, .shopping-cart th{
    padding: 10px;
    text-align: center;
}

.shopping-cart th{
    border-bottom: 1px solid #ccc;
}

.shopping-cart td input{
    text-align: center;
    width:30px;
}

.shopping-cart .table__name{
    text-align: left;
}

.product__caption h3{
    font-size: 16px;
    font-weight: bold;
}

.product__element{
    text-align: center;
    padding: 0 5px;
    height: 300px;
    width:200px;
    float: left;
    margin-bottom: 10px;
}
.product__image{
    display: flex;
    height: 180px;
    overflow: hidden;
}

.product__image img{
    margin: auto;
}

.product__description{
    height: 64px;
    overflow: hidden;
}