include include/head
include include/foot
include include/header

doctype html
html(lang='ru')
    +head

    body
        +header
        div.main.container
            .sidebar
                h3  Категории
                ul
                    li  Краски
                    li  Краски
                    li  Краски
                    li  Краски
            .catalog__wrapper

    +foot