include include/head
include include/foot
include include/header

doctype html
html(lang='ru')
    +head

    body
        +header
        div.main Main
            img(src='images/bg.jpg')

    +foot